
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model IList<Capstone.Web.Models.ProjectModel>
}
@section styles{
    <style>
        .deleteProjectButton {
            margin-left: 0.5em;
            margin-top: 0.5em;
            color: ghostwhite;
            position: absolute;
            display: block !important;
        }

        .deleteProjectButton:hover{
            color: red;
        }
    </style>    
}
@section scripts{
    <script>
        function deleteProject(element, houseId) {
            element.parentElement.remove();
            fetch("/api/deleteProject?projectId=" + houseId, { method: 'POST' });
            alert("Project deleted successfully");
        }
    </script>
}

<section id="dashboardSection">
    <img id="plan" class="svg" src="~/Content/plan.svg" />
    <div class="dashboardButton">
        <form method="get" action="@Url.Action("NewProject", "Project")">
            <input class="navbarBtn accountformbtn" type="submit" value="New house" />
        </form>
        <div class="plannedHouses">
            @foreach (var project in Model)
            {
                <div class="userProject navbarBtn">
                    <i class="fa fa-close deleteProjectButton" onclick="deleteProject(this, @project.HouseId)"></i>
                    <a href="@Url.Action("Build", "Project", new { houseId = project.HouseId })">
                        <h4>@project.HouseName</h4>
                        <p>Budget: $@project.Budget</p>
                        <p>@(((int)project.SquareFootage * project.NumberOfFloors).ToString("N0")) ft<sup>2</sup></p>
                    </a>
                </div>
            }
        </div>
    </div>
</section>