
@{
	ViewBag.Title = "Dashboard";
	Layout = "~/Views/Shared/_Layout.cshtml";
	@model IList<Capstone.Web.Models.ProjectModel>
}

<h2>Dashboard</h2>

<div>
	<form method="get" action="@Url.Action("NewProject", "Project")">
		<button>Build a New House!</button>
		<br />
		<br />
	</form>

	@foreach (var project in Model)
	{
	<a href="@Url.Action("Build", "Project", new { houseId = project.HouseId })">
		<div class="userProject">
			<h4>@project.HouseName</h4>
			<p>Budget: @project.Budget</p>
			<p>Region: @project.Region</p>
		</div>
	</a>
	}

</div>