
@{
	ViewBag.Title = "NewProject";
	Layout = "~/Views/Shared/_Layout.cshtml";
	@model Capstone.Web.Models.ProjectModel
}


<form method="post" @*action="@Url.Action(......)"*@>
	<label>Project Name: @Html.TextBoxFor(m => m.HouseName, new { placeholder = "Enter Project Name" })</label>
	<label>Basement:  @Html.RadioButtonFor(m => m.Basement, "true") Yes @Html.RadioButtonFor(m => m.Basement, "false") No</label>
	<label>
		Floors:
		<select name="Floors">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
		</select>
	</label>
	<label>
		Region:
		<select name="Region">
			<option value="Cleveland-Elyria">Cleveland-Elyria</option>
			<option value="Akron">Akron</option>
			<option value="Canton-Massillon">Canton-Massillon</option>
		</select>
	</label>
	<label>Budget: @Html.TextBoxFor(m => m.Budget)</label>
	<label>Foundation Size: @Html.TextBoxFor(m => m.Length, new {placeholder = "Length"}) X @Html.TextBoxFor(m => m.Width, new {placeholder = "Width"})</label>


	<button>Build It!</button>
</form>


