@using Capstone.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<body id="login">
    <img id="trees" class="svg" src="~/Content/house-trees.svg" />
    <div class="accountFormContainer">

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            <h1 class="accountFormTitle">Hello.</h1>
            <div class="accountFormControl">
                @Html.TextBoxFor(m => m.Email, new { placeholder = "email" })
            </div>
            <div class="accountFormControl">
                @Html.PasswordFor(m => m.Password, new { placeholder = "password" })
            </div>
            <div class="accountFormControl">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "rememberMeText" })
            </div>
            <div>
                <input class="navbarBtn accountformbtn" type="submit" value="Log in" />
            </div>

        }
    </div>

</body>
