@model Capstone.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
@section scripts{
    @*<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="~/Scripts/particlesSetup.js"></script>*@
}

<body id="register">
    <img id="paint" class="svg" src="~/Content/drawing.svg" />
    <div class="accountFormContainer">
        
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
        {
            <h1 class="accountFormTitle">Welcome.</h1>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            
            <div class="accountFormControl" id="regName">
                @Html.TextBoxFor(m => m.FirstName, new { placeholder = "first name", @class = "accountFormTextBox" })
            </div>
            <div class="accountFormControl" id="regEmail">
                @Html.TextBoxFor(m => m.Email, new { placeholder = "email", @class = "accountFormTextBox" })
            </div>
            <div class="accountFormControl" id="regPassword">
                @Html.PasswordFor(m => m.Password, new { placeholder = "password", @class = "accountFormTextBox" })
            </div>
            <div class="accountFormControl" id="regConfirm">
                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "confirm password", @class = "accountFormTextBox" })
            </div>
            <div>
                <input class="navbarBtn accountformbtn" type="submit" value="Register" />
            </div>
        }
    </div>
</body>


