@using Microsoft.AspNet.Identity
@using Capstone.Web.DAL;
@{
    var dal = new UserDAL();
}

@if (Request.IsAuthenticated)
{
    <button id="name-button" class="navbarBtn"> @Html.ActionLink("Hello " + dal.GetFirstName(User.Identity.GetUserId()) + "!", "Dashboard", "Project", routeValues: null, htmlAttributes: new { title = "Manage" })</button>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        //<div class="nav navbar-nav navbar-right">
        <button id="logoff" class="navbarBtn" href="javascript:document.getElementById('logoutForm').submit()">Log off</button>
        //</div>
    }
    //<form method="get" action="@Url.Action("Dashboard", "Project")">
    <button id="dashboard" class="navbarBtn homePage" onclick="location.href='@Url.Action("Dashboard", "Project")'">Dashboard</button>
    //</form>
}
else
{
    <button class="navbarBtn" id="navLink-Register">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</button>
    <button class="navbarBtn" id="navLink-Login">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</button>
}